@import "mixins";

.Landing-Footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 42px;
    padding-bottom: 50px;
    @media (max-width:767px) {
        padding-bottom: 30px;
    }
    hr {
        border: 1px solid #4f46e5;
    }
    .content {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:380px) {
            flex-direction: column;
            gap: 20px;
        }
        .copyright {
            color: #202636;
            font-family: $mont;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            @include responsive(md) {
                font-size: 12px;
            }
            @include responsive(xs) {
                text-align: center;
            }
            @media (max-width:450px) {
                font-size: 10px;
            } 
        }
        .icons {
            display: flex;
            align-items: center;
            gap: 14px;
            svg {
                @include responsive(md) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
