@import "./mixins";

.Landing-Header {
    max-width: 1300px;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px 24px;
    background: linear-gradient(180deg, #4f46e5 0%, #322ab0 100%);

    @include responsive(md) {
        padding: 15px 10px;
    }
    z-index: 123;
    .logo {
        cursor: pointer;
        svg {
            @include responsive(md) {
                width: 90px;
            }
        }
    }

    .MobileMenu {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        width: 100%;
        padding: 10px 16px;
        border-radius: 8px;
        background: linear-gradient(180deg, #4f46e5 0%, #322ab0 100%);
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        ul {
            display: flex;
            flex-direction: column;
            li {
                padding: 10px 5px;
                display: block;
                color: #fff;
                cursor: pointer;
            }
            button{
                all: unset;
                display: block;
                border-radius: 8px;
                cursor: pointer;
                background: #fff;
                color: #231c91;
                text-align: center;
                font-family: Montserrat, sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                padding: 10px;
            }
        }
    }
    .MobileMenu.open {
        max-height: 300px; /* Adjust as needed */
        opacity: 1;
    }

    @include responsive(xl) {
        width: calc(100% - 90px);
    }
    @media (max-width: 420px) {
        // width: calc(100% - 75px);
    }
    nav {
        ul {
            display: flex;
            gap: 40px;
            @include responsive(md) {
                gap: 6px;
                display: none;
            }
            li {
                color: #fff;
                font-family: $mont;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                text-transform: capitalize;
                cursor: pointer;

                @include responsive(md) {
                    font-size: 14px ;
                }
                &.active {
                    border-bottom: 2px solid #fff;
                }
            }
            @media (min-width: 991px) {
                .mob_nav {
                    display: none;
                }
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        gap: 6px;

        button.simple_white_btn {
            all: unset;
            display: block;
            border-radius: 8px;
            cursor: pointer;
            background: #fff;
            color: #231c91;
            text-align: center;
            font-family: Montserrat, sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            padding: 10px;

                @media (max-width:991px) {
                  display: none;  
                
                // display: none;
                // font-size: 12px !important;
                // width: auto !important;
                // height: auto !important;
                // padding: 8px 12px !important;
            }
        }
        .mobile-ham {
            display: none;
            background-color: transparent;
            border: 0;
            @include responsive(md) {
                display: block;
            }
        }
    }
}
